.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

footer {
  flex-shrink: 0;
  background-color: #1a1a1a;
  border-top: black solid 2px;
}