/* Login.css */
.login-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 20px;
}
.login-content{
  background-color: #1a1a1a;
  width: 30%;
  padding: 2% 2%;
  border-radius: 2vh;
}
.login-form-inner-div {
  display: flex;          /* Activa flexbox */
  align-items: center;    /* Centra verticalmente */
  margin-bottom: 1rem;    /* Espaciado entre grupos */
}

.login-form-inner-div > label {
  min-width:25%;
  font-weight: bold;
  color: #333;
}

.login-form-inner-div > input {
  flex: 1;                /* Ocupa el resto del espacio */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
