.agenda-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex:1;
  min-height:0;
  overflow-y: auto;
  max-height: 100vh;

  scrollbar-width: thin;
  scrollbar-color:rgba(128, 128, 128, 0.3) transparent;
}

.agenda-container::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

.agenda-container::-webkit-scrollbar-track {
    background: transparent; 
}
.agenda-container::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.3); 
    border-radius: 4px;
    border: 2px solid transparent; 
    background-clip: content-box;
    transition: background 0.3s ease;
}

.agenda-container::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.6); 
}

.agenda-container::-webkit-scrollbar-thumb:not(:hover) {
    background: rgba(128, 128, 128, 0.1);
}
.agenda-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dia-titulo{
  text-align: center;
}
.contenedor-scroll{
    flex:1;
    border-radius:8px;
    border: solid #4f4f4f 1px;
    overflow-y:auto;
    max-height: calc(100vh - 25vh);
    scrollbar-width: thin;
  
  /* Estilo para navegadores WebKit (Chrome, Edge, Safari) */
  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0 12px 12px 0; /* Radio solo en el lado derecho */
    margin: 4px 0;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 6px;
    border: 3px solid transparent; /* ¡Clave para el efecto! */
    background-clip: content-box;
  }
  scrollbar-color: #4a4545 transparent;
  scrollbar-width: thin;

}

/* Estilos de los bloques*/
.bloque-tiempo{
  display: flex;
  padding: 1rem;
  align-items: center;
  flex:1;
  min-width: 0;
  border: 1px solid #4f4f4f;
}
.marcador-hora{
  width: 25%;
}
.contenido-tareas.con-tareas{
  width:75%;
  flex:1;
}
.lista-tareas{
  padding-left: 0;
  list-style: none;
}
.tarea{
  display: flex;
  justify-content: space-between;
}

/*A partir de acá tengo los estilos del form de agregar tarea*/
.agregar-tarea{
  display:flex;
  flex-direction: column;
  min-width: 0;
}

.agregar-tarea-form{
  border-radius: 1vh;
  border: 1px solid #4f4f4f;
  background-color: #1f1f1f;
  max-height: 0;
  max-width: 75%;
  overflow: hidden;
  opacity: 0;
  padding: 0 2vh;
  transition:max-height 0.3s ease-in-out, opacity 0.2s ease-in-out, padding 0.3s ease-in-out, margin-top 0.3s;
}

.agregar-tarea-form.visible{
  max-height: 500px;
  opacity: 1;
  padding: 2vh;
  margin-top: 1vh;
}
.agregar-tarea-form.hidden{
  max-height: 0;
  opacity: 0;
  padding: 0 2vh;
  margin-top: 0;
}
.agregar-tarea-form div{
  display: flex;
  min-width: 0;
  margin-bottom: 1vh;
}
.agregar-tarea-form div label{
  min-width: 20%;
}

.agregar-tarea-button{
  background-color: #1976d2;
  color: white;
  width: auto;
  align-self: flex-start;
  border: none;
  padding: 1vh 2vh;
  border-radius: 1vh;
  cursor: pointer;
  margin-bottom: 1vh;
  transition: background-color 0.3s ease;
}

.agregar-button:hover {
  background-color: #125aa3;
}

.agregar-tarea-form div input{
  border-radius: 1vh;
  padding: 0.5em;
  border: 1px solid #888;
  color: white;
  background-color: #2b2b2b;
}
.descripcion-tarea{
  min-width: 50%;
  height: 10vh;
  resize: vertical;
  padding: 0.5em;
  line-height: 1.2;
  text-align: left;
  vertical-align:top ;
  border-radius: 1vh;
  border: 1px solid #888;
  color: white;
  background-color: #2b2b2b;
}


.guardar-tarea-button{
  margin-top: 1vh;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 1vh 2vh;
  border-radius: 1vh;
  cursor: pointer;
}

.guardar-tarea-button:hover {
  background-color: #1f7c32;
}